@import "./reset.css";
@import "./variables.css";
@import "./scrollbar.css";

/* ___________________ general */
html {
  scroll-behavior: smooth;
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.container,
.header__container {
  max-width: var(--container-max-width);
  margin: 0 30px;
}
/* ___________________ header */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts {
  background-color: var(--contact-bg-color);
  padding: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  gap: 25px;
  font-size: 18px;
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ___________________ main */
.main__content__header,
.main__content__parameters-header {
  font-weight: 700;
  font-style: normal;
  font-size: var(--header-font-size);
  margin: 25px 0 12px 0;
  line-height: 34px;
  font-family: var(--header-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main__content__parameters-header {
  text-align: center;
}
.main__content__parameters-list-item-list-item,
.main__content__parameters-watching-list-item,
.main__content__parameters-price-list-item {
  margin-left: 25px;
}
.main__content__parameters-list-item--price {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
}
.main__content__parameters-card-wrapper {
  margin: 25px 0;
}
.main__content__img-wrapper {
  margin-top: 25px;
  width: 100%;
}
.main__content__img {
  max-width: 100%;
  width: 100%;
}

/* ___________________ footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
}
.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.footer__header {
}
.--margin_top {
  margin-top: 10px;
}

/* ___________________ media */
@media (max-width: 750px) {
  .swiper {
    width: 88vw;
    width: -moz-calc(88vw);
    width: -webkit-calc(88vw);
    width: calc(88vw);
  }
}
@media (max-width: 700px) {
  .main__content__parameters-list-item-enter {
    display: block;
    margin-left: 17px;
  }
}
@media (max-width: 660px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .container {
    margin: 0 15px;
  }
  .header__container {
    margin: 0 15px;
  }
  .main__content__address-wrapper {
    text-align: left;
  }
  .main__content__address {
    text-align: left;
  }
  ul li {
    text-align: left;
    margin-left: 15px;
  }
}
@media (max-width: 600px) {
  .main__content {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .main__content {
    font-size: 16px;
  }
  .contacts {
    display: none;
  }
  .main__content__parameters-header {
    font-size: 24px;
    margin-top: 25px;
  }
  .main__content__header {
    font-size: 24px;
    margin-top: 5px;
  }
  .contacts {
    font-size: 16px;
  }
  ul li {
    margin-left: 0px;
  }
  .main__content__parameters-list-item--price-amount {
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 450px) {
  .contacts {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main__content__parameters-list-item--price {
    font-size: 18px;
  }
  .main__content__parameters-list-item-list-item,
  .main__content__parameters-watching-list-item,
  .main__content__parameters-price-list-item {
    margin-left: 0px;
  }
}
.--visible {
  display: flex;
}

/* ____________________ swiper */
.swiper-wrapper {
  margin-bottom: 50px;
}

.swiper-pagination {
  margin-bottom: 5px;
}

.swiper-scrollbar {
  --swiper-scrollbar-bg-color: var(lightgrey);
  --swiper-scrollbar-drag-bg-color: var(--main-font-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--main-font-color);
}
